.idea
*.iml
exceptions
docs
__pycache__
server1
server2
*.pyc
*.log
code.rst~
conf.py~
index.rst~
project.rst~

.DS_Store
.cache
.cache/v/cache/lastfailed
.coverage
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.htmlcov/c
.mypy_cache/
